atom-page{
    ion-header{
        ion-navbar{
            ion-title{
                .toolbar-title{
                    color: #0398ca;
                }
            }
        }
        .button{
            background: none;
            box-shadow: none;
            color: #0398ca;
            height: 100%;
            ion-icon{
                font-size: 20px;
            }
        }
        .button.activated{
            background-color: white;
            box-shadow: none;
        }
    }
    .content{
        background: none;
    }
    ion-content{
        .scroll-content{
            overflow: hidden;
        }
    .all{
        background-color: black;
        opacity: 0.7; 
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
        .search-input{
            height: 50px;
            background-color: #cbc9cf;
        }
        .searchbar-ios-danger .searchbar-ios-cancel{
            color: #0595c7;
        }
        .atoms{
            height: 57vh;
            overflow-x: scroll;
            overflow-y: scroll;
            .atoms-scroll{
                height: 100%;
                width: 104vh;
                //margin-top: -1px;
                margin-left: 35px;
                ion-row{
                    ion-col{
                        display: flex;
                    .false-btt{
                        text-transform: none;
                        //background-color: #ed5d3f;
                        margin: 1px auto;
                        padding: 0;
                    height: 8.3vh;
                    width: 8.3vh;
                    border-radius: 0;
                        }
                    }
                }
               
            }
        }
        .range-grid{
                position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,0.2);
            height: 31%;
            ion-row{
                height: 100%;
                ion-col{
                        display: flex;
    align-items: center;
        .my-rangeitem{
            background: none;
            color: white;
                .range{
                        padding: 0px 0px;
                        .range-slider{
                            margin-right: 60px;
                        }
                        .left-item {
                                //margin: 0 50px 0 0;
                                width: 90px;
                                    margin: 0 11px 0 0;
                        }
                            .right-item{
                                position: absolute;
                                margin: 0 8px 0 17px;
                                right: 0;
                            }
                }
            }                  
                }
            }
        }

        }
    }

